{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ message|trans }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ message|trans }}</div>
            {% endfor %}
            Submit form to parse the employment page of Alsacreations
            <br>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}            
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/main.css')}}" />
{% endblock %}
